<div id="indexTodo">
    <div id="contentIndex">
        <h1 class="titleIndex"> Cinema </h1>
        <h1 class="titleIndex">Ironhack </h1>
        <a href="/movies"><button id="buttonMovies"> Check the movies! </button></a>
    </div>
</div>
